{{#each this}}
  <div class='photo-card'>
    <img
      class='img'
      src='{{images.url}}'
      alt='{{images.attribution}}'
      loading='lazy'
    />
    <div class='info'>
      <p class='info-item'>
        <b><span>{{name}}</span></b>
      </p>
      <p class='info-item'>
        <b><span>{{dates.start.localDate}}</span></b>
      </p>
      <p class='info-item'>
        <b><span>{{place.address}}</span></b>
      </p>
    </div>
  </div>
{{/each}}